{
    "rules": {
		"no-console": ["warn"],
		"no-unused-expressions": "off"
	},
	"globals": {
		"d": false,
		"_": false,
		"moment": false,
		"cfg": false,
		"Oak": false
	},
	"env": {
		"node": true,
		"mocha": true
	}
}