# Logs
logs
results
*.log
npm-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages
bower_components

# Optional npm cache directory
.npm

# Compiled files (from babel and webpack)
dist

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Benchmarking
benchmarks/graphs

# WebStorm
.idea
*.iml

# VS Code
.vscode

# Environment Files
env.*

# garbage
garbage

# uploaded files
uploads

# Private Data
config_private.js
*.private.*
private
