[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = ab694a6b-b247-4139-8bbb-87f3ac513e80
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 59:24
      size = 1861, 1056
      title = smpx: ~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 928
      ratio = 0.5
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 525
      ratio = 0.499526515152
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 525
      ratio = 0.499526515152
      type = VPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = ab694a6b-b247-4139-8bbb-87f3ac513e80
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = a84bfadf-66c6-4eb6-a702-5dcd21d8b235
    [[[terminal6]]]
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = 03a5eb4b-36fb-4c7e-a187-809e70d2d7bb
    [[[terminal7]]]
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 00850267-3b42-4b53-b09d-50472f1d25bc
[plugins]
[profiles]
  [[default]]
    background_color = "#28343b"
    background_darkness = 0.95
    background_image = None
    font = Hack 10
    foreground_color = "#ffffff"
    scrollback_infinite = True
    scrollback_lines = 10000
    use_system_font = False
